@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Pen+Script&family=Oregano&display=swap');
:root{
  --color-1:#5594EF;
  --color-2:#6DA3F1;
  --color-3: #9EC2F6;
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: white /* #E5E5E5 */;
  align-items: center;
}

.containerLeft{
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
}

form{
  display: flex;
  flex-direction: column;
 /*  padding: 0 5rem; */
  margin: auto;
  color: var(--color-1);
}

h1 u{
  text-decoration: overline;
}

label{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

input{
  height: 2rem;
  outline: none;
  border-radius: 4px;
  border: 1px solid #CEE0FA;
  padding: 2px 14px;
  /* margin-bottom: 1rem; */
  color: var(--color-2);
}
input::placeholder { 
  color: var(--color-3);
}

.error{
  border: 1px solid #ff000054;
}
label span{
  color: #ff000054;
}

#BtnSubmit{
  height: 2.2rem;
  background-color: var(--color-1);
  color: white;
  outline: none;
  border: none;
  border-radius: 100px;
  margin: 1rem 0;  
  cursor: pointer;
}

#firstP{
  margin-bottom: 2rem;
  /* font-size: .5rem; */
}

#recuper{  
  text-align: end;
  color: var(--color-2);
}
.loginMethods{
  display: flex;
  justify-content: center;
  grid-gap: 1rem;  
}

.loginMethods button:first-of-type{
  background-color: #1D69E5;
  color: white;
  border-radius: 4px;
  border: none;
  outline: none;
}
.loginMethods button:last-of-type{
  color: var(--color-1);
  background-color: transparent;
  outline: none;
  border: none;
  font-size: larger;
  font-weight: 900;
}
.loginMethods button{
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  margin: 1rem 0;
}
.textCenter{  
  text-align: center;
  font-size: .8rem;
}


.containerRight{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #6DA3F1;
  width: 50%;
  height: 100%;
  border-radius: 50px 0 0 50px;
  color: white;
}

.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header a{
  color: white;
}
#Logo{
  display: flex;
  align-items: center;
  border: 2px solid white;
  height: 3rem;
  margin: 0;
}
#Logo span:first-of-type{
  padding: 0 1rem;
  font-size: 2.4rem;
  font-family: 'Oregano', cursive;
  font-weight: 500;
}
#lineLogo{
  height: 100%;
  border: 1px solid;
}
#Logo span:last-of-type{
  padding: 0 1rem;
  font-weight: 700;
}

#imageDefault{
  color: #3C84EC;
  font-size: 18rem;
  align-self: center;
}

.containerRight footer{
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
footer b{
  font-size: 1.5rem;
  font-weight: 400;
}

#faceIcon{
  font-size: 1rem;
}